<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
</head>
<body>
<div class="topbar"><%=image_tag ("logo.png")%></div>
<div class="container">
<%= yield %>
</div>
<footer class="footer" style="background-color:#c2c2c2">
</footer>
</body>
</html>
